@import "mixins";

main {
  margin-top: 120px;
  @include for_768 {
    margin-top: 60px;
  }
  @include for_960 {
    margin-top: 0;
  }
  background: url("../img/backgrounds/about_company_mobile.jpg") no-repeat center / cover fixed;

  .swiper {
    width: 100%;
    @include for_960 {
      max-width: 800px;
    }
    @include for_1920 {
      max-width: 50%;
    }
    .slide_block-service {
      @include column;
      justify-content: flex-start;
      padding: 40px 30px 36px 30px;
      img {
        width: 100%;
        height: auto;
        border-radius: 8px;
        @include for_768 {
          height: 300px;
        }
      }
      h2 {
        padding: 0;
        font-size: 30px;
      }

      p {
        font-size: 18px;
        line-height: 1.45;
        font-weight: 300;
      }
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
      color: #e1c458 !important;
      fill: #e1c458 !important;
      stroke: #e1c458 !important;
      @include for_1400 {
        display: block;
      }
    }
  }

  .line {
    margin: 50px auto;
    height: 2px;
    max-width: 160px;
    background: #fff;
  }

  .about_company {
    text-align: center;
    color: #fff;
    font-size: 0;
    @include for_960 {
      p {
        text-align: left;
      }
    }

    .bg_shadow {
      @include for_768 {
        padding-top: 60px;
      }
      @include for_960 {
        padding: 60px 20px 0 20px;
      }
      background: rgba(0, 0, 0, 0.5);
    }

    .about_us {
      padding: 42px 10px;
    }

    h2 {
      font-size: 42px;
      margin: 0;
    }

    p {
      font-size: 18px;
      line-height: 1.45;
    }
    @include for_1920 {
      p {
        font-size: 28px;
      }
    }
  }

  .our_values,
  .services,
  .commodities,
  .forwarding,
  .contacts {
    h2 {
      font-size: 38px;
    }
    .line {
      background: #000;
    }
  }

  .commodities {
    padding-bottom: 90px;

    @include for_1920 {
      .block_commodities {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
        .content {
          flex-basis: 50%;
          text-align: left;
          h2 {
            font-size: 42px;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }

  .our_values {
    background: #fff;
    @include column;
    align-items: center;
    padding: 120px 0;

    h2 {
      text-align: center;
      margin: 0 0 40px 0;
    }
    .items_value {
      display: flex;
      justify-content: space-between;
      width: 100%;
      &:not(:last-child) {
        margin-bottom: 36px;
      }
      @include for_768 {
        justify-content: center;
        .item_num {
          margin-right: 30px;
        }
      }
      .item_num {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: $color_accent;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 18px;
        line-height: 40px;
        font-weight: 600;

        @include for_960 {
          width: 60px;
          height: 60px;
        }
      }
      .item_content {
        width: 80%;
        @include for_960 {
          width: 60%;
        }
        h4,
        p {
          margin: 0;
        }
        h4 {
          font-size: 14px;
          margin-bottom: 10px;
          line-height: 1.35;
        }
        p {
          font-size: 12px;
          line-height: 1.45;
        }
      }
    }

    @include for_960 {
      padding-bottom: 0;
      .line {
        display: none;
      }
      .items_value_block {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @include for_1200 {
          gap: 30px;
        }
        .items_value {
          flex-basis: 360px;
          margin: 0;
          @include for_1200 {
            flex-basis: 330px;
          }
        }
      }
      h2 {
        margin-bottom: 80px;
      }
    }
    @include for_1200 {
      padding-bottom: 90px;

      .line {
        display: none;
      }
    }
    @include for_1920 {
      h2 {
        font-size: 40px;
      }
      .items_value_block {
        .items_value {
          flex-basis: 445px;
          .item_content {
            h4 {
              font-size: 28px;
            }
            p {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  .services,
  .commodities,
  .forwarding {
    padding-top: 90px;
    text-align: center;
  }

  .commodities,
  .forwarding {
    background: #fff;
    .slide_block-service {
      position: relative;
      .block_img {
        position: relative;
        width: 100%;
        height: 150px;
        border-radius: 8px;
        @include for_768 {
          height: 300px;
        }
      }
      h5 {
        margin: 0;
        color: #fff;
        font-size: 40px;
        font-weight: 700;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    @include for_1200 {
      .line {
        display: none;
      }
    }
  }

  .services {
    padding-bottom: 90px;
    background: #ebebeb;
    @include for_960 {
      padding-bottom: 0;
      .line {
        display: none;
      }
    }
    @include for_1200 {
      padding-bottom: 90px;

      .line {
        display: none;
      }
    }
    @include for_1920 {
      .block_services {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        gap: 100px;
        .content {
          flex-basis: 50%;
          text-align: left;
          h2 {
            font-size: 42px;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }

  .forwarding {
    padding-bottom: 90px;
    background: #ebebeb;
    @include for_1920 {
      .block_forwarding {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        gap: 100px;
        .content {
          flex-basis: 50%;
          text-align: left;
          h2 {
            font-size: 42px;
          }
          p {
            font-size: 22px;
          }
        }
      }
    }
  }

  .contacts {
    padding: 40px 40px;
    text-align: center;
    .contacts_content {
      @include column;
      @include for_960 {
        gap: 30px;
        flex-direction: row;
        & > div {
          flex-basis: 50%;
        }
      }
    }
    @include for_960 {
      padding-top: 0;
    }
    h2 {
      margin: 50px 0 45px 0;
      color: #fff;
    }
    a {
      margin-bottom: 40px;
      color: #fff;
      font-size: 20px;
      font-weight: 600;

      &::before {
        margin-right: 20px;
      }
    }
    p {
      margin: 0;
      font-size: 20px;
      font-weight: 600;
      color: #fff;
      svg {
        path {
          fill: #fff !important;
        }
        width: 28px;
        height: 28px;
        align-self: flex-start;
      }
    }
    .block_map {
      margin-top: 30px;
      @include center;
      @include for_960 {
        margin-top: 0;
        flex-basis: 700px;
      }
      .map {
        border-radius: 4px;
        width: 100%;
        min-height: 200px;

        @include for_768 {
          min-height: 300px;
        }
      }
    }
    @include for_1200 {
      .line {
        display: none;
      }
    }
  }
}
