@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
      font-family: $font_name;
      font-display: swap;
      src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
      font-weight: #{$weight};
      font-style: #{$style};
  }
}

@import "mixins";

:root {
  --swiper-navigation-size: 20px;
}

* {
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

.wrapper {
  max-width: 600px;
  margin: 0 auto;
  @include for_768 {
    max-width: 640px;
  }
  @include for_960 {
    max-width: 800px;
  }
  @include for_1200 {
    max-width: 1100px;
  }
  @include for_1920 {
    max-width: 1440px;
  }
}

.content {
  padding: 0 20px;
}

.back_to_top {
  @include center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: 700;
  background: $color_accent;
  position: fixed;
  bottom: 80px;
  right: 40px;
  cursor: pointer;
  z-index: 2;
  opacity: .6;

  &:hover {
    opacity: 1;
  }
  img {
    width: 20px;
    height: 20px;
    svg {
      fill: #fff;
    }
  }
}

@import "fonts";
@import "header";
@import "main";
@import "footer";

.email {
  @include center;
  text-decoration: none;
  &::before {
    content: url('../img/icons/mail.svg');
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }
}